services:
  nginx:
    image: nginx:latest
    container_name: prokrosivski-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/var/www/frontend
      - ./backend:/var/www/backend
    depends_on:
      - nextjs
      - laravel
    networks:
      - app-network

  laravel:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: prokrosivski-laravel
    restart: unless-stopped
    working_dir: /var/www/backend
    volumes:
      - ./backend:/var/www/backend
      - /var/www/backend/vendor
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_TIMEZONE=Europe/Kiev
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=prokrosivski
      - DB_USERNAME=root
      - DB_PASSWORD=root
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "8000:8000"
    command: sh -c "php artisan serve --host=0.0.0.0 --port=8000"
    networks:
      - app-network


  nextjs:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: prokrosivski-nextjs
    restart: unless-stopped
    volumes:
      - ./frontend:/var/www/frontend
      - /var/www/frontend/node_modules
    working_dir: /var/www/frontend
    command: sh -c "npm install && npm run dev"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:8080/api
    networks:
      - app-network

  mysql:
    image: mysql:8
    container_name: prokrosivski-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: prokrosivski
      MYSQL_ROOT_PASSWORD: root
      TZ: Europe/Kiev
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-proot" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network


  redis:
    image: redis:alpine
    container_name: prokrosivski-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - app-network

  mailpit:
    image: axllent/mailpit
    container_name: prokrosivski-mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
    driver: local
